fastapi==0.95.2
uvicorn==0.22.0
python-dotenv==1.0.0
# psycopg2-binary==2.9.6  # PostgreSQL 안 쓰면 주석 처리하거나 제거
passlib==1.7.4
PyJWT==2.6.0
pymysql==1.0.3
sqlalchemy==1.4.46  # 혹은 2.x 버전, 코드에 맞춰 설치
python-multipart
aiofiles